* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/body2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}




