* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/body2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}


.main {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 3;
    gap: 20px;
    width: 60%;
    margin-top: 25px;
    border: 2px solid #ccc;
}



