.head {
  display: flex;
  background: #221F20;
  padding: 30px 160px;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;

  & a {
    color: #F5F5F7;
    text-decoration: none;
  }

  &__logo {
    &:hover {
      color: #e49329;
      transition: all 0.3s ease;
    }
    &_accolade {
      color: #808080;    
    }
  }
 
  &__search {
    &_form {
      font-size: 18px;
      color: #221F20;
      font-weight: 600;
      padding: 5px 5px 5px 10px;
      border-radius: 10px;
      border: none;
    }
  }


  }
@media (min-width: 1200px) and (max-width: 1325px) {
  .head {
    padding: 30px 80px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .head {
    padding: 30px 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .head {
    padding: 30px 80px;
  }

  .burger {
    display: block;
    z-index: 2;
  }
}

@media (max-width: 767px) {
  .head {
    padding: 20px 50px;
    &__search {
      display: none;
    }
  }

  .burger {
    display: block;
    z-index: 2;
    &.active {
      height: 0px;
    }
  
    &.active::before {
      top: 13px;
    }
  
    &.active::after {
      top: 13px;
    }
  }
}

@media (max-width: 480px) {
  .head {
    &__search {
      display: none;
    }
  }
}