* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../img/body2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

.main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  gap: 20px;
  width: 60%;
  margin-top: 25px;
  border: 2px solid #ccc;
}