@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../img/body2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Центровка по вертикали */
  min-height: 100vh; /* Убедитесь, что высота учитывает весь экран */
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  position: relative;
  min-height: 80vh;
  width: 100%;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 15px;
  margin-top: 25px;
}
.main__title {
  color: rgba(255, 255, 255, 0.9843137255);
  font-size: 24px;
  margin: 15px 0 0 15px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: absolute;
  min-width: 311px;
  right: 10px;
}
.btn__folder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 15px 0 0 0;
  max-width: 150px;
  height: 40px;
  background-color: #3d0101;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn__file {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 15px 0 0 0;
  max-width: 150px;
  height: 40px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn__folder, .btn__file {
  -webkit-transition: -webkit-transform var(--transition-duration) ease;
  transition: -webkit-transform var(--transition-duration) ease;
  transition: transform var(--transition-duration) ease;
  transition: transform var(--transition-duration) ease, -webkit-transform var(--transition-duration) ease;
}

.btn__folder:hover, .btn__file:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

