.sidebar {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #F5F5F7;

  & a {
    display: block;

    &:first-child .sidebar__item {
      border-top-right-radius: 15px;
    }

    &:last-child .sidebar__item {
      border-bottom-right-radius: 15px;
    }
  }

  &__item {
    display: flex;
    position: relative;
    padding: 10px;
    background: #221F20;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);

      & .sidebar__item_text {
        display: block;
      }
    }

    &_text {
      display: none;
      position: absolute;
      top: 50%;
      left: 70px;
      transform: translateY(-50%);
      background-color: #221F20;
      font-size: 24px;
      padding: 0 5px;
      border-radius: 5px;
    }

    &_img {
      width: 48px;
      height: 48px;
    }
  }
}


@media (min-width: 1326px) and (max-width: 1460px) {

}
  
@media (min-width: 1200px) and (max-width: 1325px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
   
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

